.modal {
  display: none;
  position: fixed;
  z-index: 1500;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  background-color: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #2a2a2a;
  margin: 5% auto;
  padding: 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 800px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  position: relative;
}

.close-modal {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
}

.modal-content img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 15px 0;
}

.grid-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  cursor: pointer;
  object-fit: cover;
  max-height: 180px;
}

.grid-img:hover {
  filter: brightness(0.9);
}

.characteristics {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

.characteristics .tag {
  background-color: #ffe7bf;
  color: #c87b00ff;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 0.85em;
  display: inline-block;
}

.adress {
  font-size: 1.5em;
  margin-bottom: 15px;
  color: #e0e0e0;
  text-align: center;
}